<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link href="{{url_for('static', filename='style/css/bootstrap.min.css')}}" rel="stylesheet">
    <title>{% block title %} my title {% endblock %}</title>
    <style>
        .header{
            position:sticky;
            top: 0;
        }

        .nav-bar-button{
            color: white;
        }
    </style>
</head>
<body onload="startTime()">
    <nav class="navbar navbar-expand-lg bg-body-teritiary navbar-light justify-content-center" style="background-color: #6d757d;">
        <a class="navbar-brand ms-3" href="{{url_for('index')}}" style="color:white;">TODO List</a>
        <ul class="navbar-nav">
            <li class="nav-item ms-3"><a href="{{url_for('add')}}" class="nav-link nav-bar-button">Dodaj</a></li>
            <li class="nav-item ms-3"><a href="{{url_for('wyswietl')}}" class="nav-link nav-bar-button">Wyświetl</a></li>
            <li class="nav-item ms-3"><a href="{{url_for('api')}}" class="nav-link nav-bar-button">API</a></li>
          </ul>
    </nav>
<div class="container">
    <div class="position-absolute top-25 start-50 translate-middle" >

        {% block content %}
        {% endblock %}


    </div>
    <!-- <div class="col-3">
        <span id="zegar"></span>
        <div id="kalendarz">

        <script>
            const data2 = new Date();
            let miesiacInt = data2.getMonth();
            let rokInt = data2.getMonth();
            function daysInMonth(rok, miesiacInt) {
                return new Date(rokInt, miesiacInt + 1, 0).getDate();
            }
            // for(let i = 0; i <= dniMiesiaca)
        </script>

        </div>
    </div> -->
</div>
<script>
    function startTime() {
        const data1 = new Date();
        let godz = data1.getHours();
        let min = data1.getMinutes();
        let sec = data1.getSeconds();
        min = checkTime(min);
        sec = checkTime(sec);
        let zegar = document.getElementById('zegar');
        zegar.innerHTML = '<p>' + godz + ':' + min + ':' + sec + '</p>';
        setTimeout(startTime, 1000);
    }
    function checkTime(i) {
        if (i < 10)
            i = '0' + i
        return i;
    }
</script>
<script src="{{url_for('static', filename='style/js/bootstrap.min.js')}}"></script>
</body>
</html>
